* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    width: 100%;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    
    
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.header {
    height: 60px;
    background-color: #1f2937;
}
.header h1 {
   color: #f9faf8; 
   font-size: 24px;
}

/* NAVBAR */

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}

.navbar ul {
    display: flex;
    gap: 16px;
}
.navbar ul li {
    list-style-type: none;
    color: #f9faf8;
    margin: 0;
}

/* HERO */
.hero .container {
    padding: 20px 0;
    display: flex;
    gap: 16px;
}

.hero {
    background-color: #1f2937;
    padding: 60px 0;
}
.hero .container h1{
font-size: 48px;
color: #f9faf8;
display: flex;
}

.hero .container p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero .container img {
    width: 600px;
    height: 300px;
}

.hero button {
    background-color:#3881f6;
    border: 2px solid #3881f6;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color: #e5e7eb;
	font-weight: bold;
	font-size:15px;
	padding:13px 36px;
	text-decoration:none;
}

.hero button:hover {
	background-color:blue;
}

/* SECTION 2 */

.section-2 .container {
    /* display: flex; */
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 120px;
}


    

.section-2 .container .boxes {
    
    display: flex;
    gap: 60px;
    justify-content: space-between;
    
    
}
.section-2 .container h2 {
    padding: 32px 0;
    font-size: 32px;
    color: #1f2937;
    font-weight: 900;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    
}
.box img {
    width: 150px;
    height: 150px;
    display: block;
    
    border-radius:25px;
  border: 4px solid #3882f6;
}

/* SECTION 3 */
.section-3 {
    background-color: #e5e7eb;
}

.section-3 .container .quote{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
}
.section-3 .container h3{
    align-self: flex-end;
    font-size: 26px;
}

/* SECTION 4 */
.section-4 .container .cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    padding: 50px 150px;
    gap: 200px;
    margin: 70px auto;
    border-radius: 2px solid;
    color: #f9faf8;
    border-radius: 10px;
    width: 100%;
}

.section-4 p {
    margin: 0;
}

.cta button {
    background-color:#3881f6;
    border: 2px solid #e5e7eb;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color: #e5e7eb;
	font-weight: bold;
	font-size:15px;
	/* padding:13px 36px; */
	text-decoration:none;
    flex-grow:0;
    padding: 8px 16px;
    
}

.cta-button {
    /* flex: 0 0 50px; */
    
}

.cta button:hover {
	background-color:white;
    color: #3881f6;
}


/* FOOTER */
.footer {
    height: 60px;
    background-color: #1f2937;
}
.footer  {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8; 
}